### Other Stuff ###
# Ignore private files
private/

# Will store data for future use
compatability.md

# Ignore old code
_old/

# Ignore placeholders
*.placeholder

# Ignore the "blog"
blog/

# Ignore minified code - only for distribution
min/