@charset "utf-8";

#infobox, #titlebox, #latestVideos, #latestVideoInfo {
    margin: auto;
    width: 85%;
    border-radius: 10px;
}
#infobox {
    background-color: #222;
}

#titlebox {
    background-color: #333;
} small.titlebox {
    color: #111;
    text-align: center;
} #titlebox > img {
    display: block;
    margin: auto;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

#latestVideos {
    background-color: #222;
}
#latestVideoInfo {
    background-color: #333;
}