@charset "utf-8";

#subBox, #channelBox, #subCount, #subChart, #historyBox, #lastYear {
    margin: auto;
    width: 85%;
    border-radius: 10px;
}

#subBox {
    background-color: #222;
} #subBox > img {
    display: block;
    margin: auto;
    border-radius: 50%;
} #subBox > img:hover {
    transition-delay: 100ms;
    transition-duration: 1s;
    border-radius: 20%;
}

#channelBox {
    background-color: #333;
    text-align: center;
}

#subCount, #subChart {
    background-color: #111;
} #subCount > p {
    font-size: 69px;
}


abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}